[Unit]
Description=Create LISA Edge backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/lisa-edge
ExecStart=/opt/lisa-edge/scripts/backup.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
