[Unit]
Description=Run LISA Edge backup daily

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
RandomizedDelaySec=15m
Unit=backup-lisa-edge.service

[Install]
WantedBy=timers.target
